<div class="cart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main-heading">
                    <b class="h2">{{'CALCULATOR' | translate}}</b>
                    <button id="openModal" class="btn btn-outline-dark float-right" data-toggle="modal"
                        data-target="#addItem">Add
                        New Product</button>
                </div>
                <hr>
                <hr>
                <div class="table-cart">
                    <table class="text-center table-bordered">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Discount</th>
                                <th>Total</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of productsList">
                                <td>
                                    <div class="d-flex text-center h-100 align-items-center justify-content-around">
                                        <div class="name-product">
                                            {{item.name | titlecase}}
                                        </div>
                                        <div class="price">
                                            ${{item.price}}
                                        </div>
                                    </div>
                                </td>
                                <td class="product-count">
                                    <div class="count-inlineflex">
                                        <div class="qtyminus" (click)="changeQuantity(item, 'MINUS')">-</div>
                                        <input type="text" [(ngModel)]="item.quantity" value="1" class="qty">
                                        <div class="qtyplus" (click)="changeQuantity(item, 'PLUS')">+
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="discount">
                                        <input type="number" (change)="applyDiscount(item)" [(ngModel)]="item.discount">
                                    </div>
                                </td>
                                <td>
                                    <div class="total">
                                        ${{item.totalPrice}}
                                    </div>
                                </td>
                                <td>
                                    <button class="fa fa-pencil text-dark btn btn-light"
                                        (click)="editProduct(item)"></button>
                                    <button class="fa fa-trash text-danger btn btn-light"
                                        (click)="deleteProduct(item)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="coupon-box">
                        <form accept-charset="utf-8">
                            <div class="coupon-input">
                                <input type="text" name="coupon code" placeholder="Coupon Code">
                                <button type="submit" class="round-black-btn">Apply Coupon</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.table-cart -->
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="cart-totals">
                    <h3>Payment Totals</h3>
                    <form action="#" method="get" accept-charset="utf-8">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Company Fees</td>
                                    <td class="subtotal">${{companyFees}}</td>
                                </tr>
                                <tr>
                                    <td>Shipping Fees</td>
                                    <td class="free-shipping">${{shippingFees}}</td>
                                </tr>

                                <tr>
                                    <td>Custom Fees</td>
                                    <td class="free-shipping">${{customFees}}</td>
                                </tr>

                                <tr>
                                    <td>Total Discounts</td>
                                    <td class="free-shipping">${{totalDiscount}}</td>
                                </tr>

                                <tr>
                                    <td>Total After Discount</td>
                                    <td class="free-shipping">${{totalPriceAfterDiscount}}</td>
                                </tr>

                                <tr class="total-row">
                                    <td>Total Items Price</td>
                                    <td class="price-total">${{totalPrice}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn-cart-totals">
                            <a href="#" class="checkout round-black-btn" title="">Login To Checkout</a>
                        </div>
                        <!-- /.btn-cart-totals -->
                    </form>
                    <!-- /form -->
                </div>
                <!-- /.cart-totals -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addItem" tabindex="-1" aria-labelledby="addItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemLabel">Product Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="form-row">
                        <!-- name -->
                        <div class="col-md-5 mb-3">
                            <label for="name">Product Name</label>
                            <input type="text" class="form-control is-valid" id="name" placeholder="Product Name"
                                formControlName="name"
                                [ngClass]="{'is-invalid': product.name.errors, 'is-valid': !product.name.errors}">
                            <div class="valid-feedback" *ngIf="!product.name.errors">
                                Looks good!
                            </div>
                            <div class="invalid-feedback" *ngIf="product.name.errors">
                                Wrong product name!
                            </div>
                        </div>
                        <!-- url -->
                        <div class="col-md-7 mb-3">
                            <label for="url">Product Url</label>
                            <input type="text" class="form-control" id="url" placeholder="Product Url"
                                formControlName="itemUrl"
                                [ngClass]="{'is-invalid': product.itemUrl.errors, 'is-valid': !product.itemUrl.errors}">
                            <div class="valid-feedback" *ngIf="!product.itemUrl.errors">
                                Looks good!
                            </div>
                            <div class="invalid-feedback" *ngIf="product.itemUrl.errors">
                                Wrong product url!
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <!-- price -->
                        <div class="col-md-3 mb-3">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" placeholder="Price" id="price"
                                formControlName="price"
                                [ngClass]="{'is-invalid': product.price.errors, 'is-valid': !product.price.errors}">
                            <div class="valid-feedback" *ngIf="!product.price.errors">
                                Right Price!
                            </div>
                            <div class="invalid-feedback" *ngIf="product.price.errors">
                                Wrong Price!
                            </div>
                        </div>
                        <!-- weight -->
                        <div class="col-md-3 mb-3">
                            <label for="weight">Weight (Kg)</label>
                            <input type="text" class="form-control is-invalid" id="weight" placeholder="Weight (Kg)"
                                formControlName="weight"
                                [ngClass]="{'is-invalid': product.weight.errors, 'is-valid': !product.weight.errors}">
                            <div class="valid-feedback" *ngIf="!product.weight.errors">
                                Right weight!
                            </div>
                            <div class="invalid-feedback" *ngIf="product.weight.errors">
                                Wrong weight!
                            </div>
                        </div>
                        <!-- category -->
                        <div class="col-md-3 mb-3">
                            <label for="category">Category</label>
                            <input type="text" class="form-control is-invalid" id="category" placeholder="Category"
                                formControlName="category"
                                [ngClass]="{'is-invalid': product.category.errors, 'is-valid': !product.category.errors}">
                            <div class="valid-feedback" *ngIf="!product.category.errors">
                                Right category!
                            </div>
                            <div class="invalid-feedback" *ngIf="product.category.errors">
                                Wrong category!
                            </div>
                        </div>
                        <!-- color -->
                        <div class="col-md-3 mb-3">
                            <label for="color">Color</label>
                            <input type="text" class="form-control" id="color" placeholder="Color"
                                formControlName="color">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary">Reset Form</button>
                    <button type="submit" class="btn btn-primary">Save Data</button>
                </div>
            </form>
        </div>
    </div>
</div>